<h1>Edit information</h1>

<%= form_with model: @contact do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address %>
  </div>
    
  <div>
  <%=form.label :profile_image%><br><br>
  <%= form.file_field :profile_image %>
    </div>

   
  <div>
    <%= form.submit %>
  </div>
<% end %>
