<%= render 'navbar'%>


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
<body>
<div class="text-center">
<h3>Add Contacts</h3>
</div>
<a class="nav-link " 
					href="/contact/index" tabindex="-1" >Back</a>


<div class="container">
<%= form_for @contact,url: {action: "create"}  do |f| %>
  <div>
   <%= f.label :name %><br>
   <%= f.text_field :name %><br>
  </div>

  <div>
   <%= f.label :email %><br>
   <%= f.text_field :email %><br>
  </div>

  <div>
   <%= f.label :mobile_number %><br>
   <%= f.text_field :mobile_number %><br>
  </div>

     <div>
   <%= f.label :address %><br>
   <%= f.text_field :address %><br>
  </div>

  <div>
  <%=f.label :profile_image%><br><br>
  <%= f.file_field :profile_image %>
    </div>

  <input type="hidden" name="contact[user1_id]" value=<%=session[:current_user_id]%>>

    <div>
    <br><br>
    <%= f.submit %>
  </div>
<% end %>
</div>

</body>
</html>

