
<%= form_for @contact,url: {action: "create"}  do |f| %>
  <div>
   <%= f.label :name %><br>
   <%= f.text_field :name %><br>
  </div>

  <div>
   <%= f.label :email %><br>
   <%= f.text_field :email %><br>
  </div>

  <div>
   <%= f.label :mobile_number %><br>
   <%= f.text_field :mobile_number %><br>
  </div>

     <div>
   <%= f.label :address %><br>
   <%= f.text_field :address %><br>
  </div>

  <div>
  <%=f.label :profile_image%><br><br>
  <%= f.file_field :profile_image %>
    </div>

  <input type="hidden" name="contact[user1_id]" value=<%=session[:current_user_id]%>>

    <div>
    <br><br>
    <%= f.submit %>
  </div>
<% end %>